@import '../../scss/variables.scss';

.results {
    &__cards-wrapper {
        margin-top: 16px;
        border-radius: 4px;
    }
    @media(max-width: $mobileMax) {
        &__cards-wrapper {
            margin-top: 0;
        }
    }
}