@import '../../scss/variables.scss';
.card {
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
    background-color: $white;
    &:last-child a {
        border-bottom: none;
    }
    &:first-child {
        border-radius: 4px 4px 0 0;
    }
    &__link {
        display: flex;
        padding-bottom: 16px; 
        text-decoration: none;
        color: $dark;
        border-bottom: 1px solid $lightGrey;
        box-sizing: border-box;
    }
    &__image {
        width: 180px;
        height: 180px;
        border-radius: 4px;
    }
    &__description-wrapper {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 180px);
        padding: 16px 20px;
        box-sizing: border-box;
    }
    &__price-wrapper {
        display: flex;
        flex-direction: column;
        width: calc(100% * 0.5);
        box-sizing: border-box;
    }
    &__price {
        display: flex;
        align-items: center;
    }
    &__value {
        font-size: 20px;
    }
    &__shipping-icon {
        width: 15px;
        height: 15px;
        margin-left: 10px;
        background-image: url('/static/ic_shipping.png');
        background-size: cover;
    }
    &__description {
        margin-top: 16px;
        text-transform: capitalize;
        font-size: 18px;
    }
    &__city {
        width: calc(100% * 0.2);
        font-size: 12px;
        color: $grey;
    }
    @media(max-width: $tabletMax) {
        &__price-wrapper {
            width: calc(100% * 0.6);
        }
    }
    @media(max-width: $mobileMax) {
        &:first-child {
            border-radius: 0;
        }
        &__link {
            align-items: center;
        }
        &__image {
            width: 110px;
            height: auto;
        }
        &__description-wrapper {
           flex-direction: column-reverse;
           width: 100%;
           padding: 16px 0 16px 16px;
        }
        &__price-wrapper {
            width: calc(100%);
        }
        &__description {
            margin-top: 0;
            font-size: 14px;
        }
        &__city {
            width: 100%;
        }
    }
}