// colors

$yellow: #ffe600;
$dark: #333333;
$darkGrey: #666666;
$grey: #999999;
$lightGrey: #eeeeee;
$white: #ffffff;
$blue: #3483fa;

// containers max-width

$containerWidth: 1100px;
$containerWidthTablet: 660px;

// breackpoints
$mobileMax: 599px;
$tabletMin: 600px;
$tabletMax: 1023px;
$desktopMin: 1024px;