@import '../../scss/variables.scss';
.price {
    display: flex;
    &__amount {
        margin: 16px 0;
        font-size: 46px;
    }
    &__decimal {
        margin: 25px 5px;
        font-size: 20px;
    }
}