@import '../../scss/variables.scss';
.container {
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    @media(max-width: $tabletMax) {
        max-width: $containerWidthTablet;
    }
}