@import '../../scss/variables.scss';
.detail {
    margin-top: 16px;
    border-radius: 4px;
    background-color: $white;
    @media(max-width: $mobileMax) {
        margin-top: 0;
        border-radius: 0;
    }
}